@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --white: #FFFFFF;
    --red: #930B0B;
    --light-blue: #EAF8FF;
    --dark-blue: #0059A1;
    --black: #000000;
    --inline-margin-phone: 20px;
    --inline-margin-tablet-desktop: 60px;
    --inline-margin-big-desktop: 150px;
    --innholdsfont: "Roboto", sans-serif;
    --logofont: "Racing Sans One", sans-serif;
    --headerfont: "Antonio", sans-serif
}

body{
    background-color: var(--white);
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    box-sizing: border-box;
}

h1{
    font-family: var(--headerfont);
    font-size: 60px;
    color: var(--black);
}

h2{
    font-family: var(--headerfont);
    font-size: 35px;
    color: var(--black);
}

h3{
    font-family: var(--headerfont);
    font-size: 15px;
    color: var(--black);
    margin: 0;
}

p, label{
    font-family: var(--innholdsfont);
    color: var(--black);
    font-size: 20px;
}



.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--dark-blue);
    text-decoration: none;
    font-family: var(--logofont);
    font-size: 30px;
    min-width: 200px;

}

.cta-button{
    font-family: var(--innholdsfont);
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-size: 25px;
    padding: 8px 40px;
    border: none;
    border-radius: 100px;
    
}

.cta-button:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    outline: var(--dark-blue) 2px solid;
   
}

.choosen{
    text-decoration: underline 2px !important; 
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    cursor: pointer;
}


/*header*/
header{
position: fixed;
left: 0;
right: 0;
background-color: var(--white);
height: 100px;
border-bottom: var(--dark-blue) solid 1px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0 var(--inline-margin-big-desktop);
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 40vw;
    list-style: none;
    padding: 0;
}

.login-nav-menu{
    width: 20vw;
}

.header-nav a{
    color: var(--black);
    font-family: var(--headerfont);
    text-decoration: none;
    font-size: 20px;
}

.header-nav li:hover{
    transform: scale(1.1);
}

#log-out-btn-cont:hover{
    transform: none;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


#log-out-btn-cont{
    display: none;
}

#logout{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-family: var(--innholdsfont);
    padding: 8px 8px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
   
}

#logout:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    outline: var(--dark-blue) 2px solid;
    
}





/*footer*/
footer{
background-color: var(--white);
height: 180px;
width: 100%;
border-top: var(--dark-blue) solid 1px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 25px;
    padding-bottom: 10px;
}

.footer-nav a{
    color: var(--black);
    font-family: var(--headerfont);
    text-decoration: none;
    font-size: 20px;
}

.footer-nav a:hover{
transform: scale(1.1);
}




/*kode for main elementer*/
main{
    padding: 100px 0;
    

}

#main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-edit-post, #main-my-page, #main-makepost, #main-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*dette er for login siden*/

#login-form input{
    padding-left: 20px;
    font-size: 20px;
    height: 30px;
    width: 300px;
    border: none;/**/
    border-radius: 10px;
    border-bottom: var(--black) solid 2px;
    margin-bottom: 35px;
}

#login-form input:focus{
   outline: none;
}

#wrong{
    font-family: var(--innholdsfont);
    color: var(--red);
    font-size: 20px;
}

/*dette er for min side*/

#main-my-page > a{
font-size: 25px;
font-family: var(--innholdsfont);
color: var(--dark-blue);
text-align: center;
}

#main-my-page > a:hover, .single-post-overview a:hover, .single-post-overview button:hover{
    text-decoration: none;
}

.posts-overview-img{
    height: 70px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

#posts-overview{
    display: flex;
    flex-direction: column;
}

.single-post-overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    padding: 20px 0;
    border-bottom: 1.5px solid var(--dark-blue);
}

.single-post-overview a{
    font-size: 16px;
    font-family: var(--innholdsfont);
    color: var(--dark-blue);

}

.single-post-overview button{
    background: none;
    border: none;
    font-size: 16px;
    font-family: var(--innholdsfont);
    color: var(--red);
    text-decoration: underline;
}

.single-post-img-text{
    display: flex;
    align-items: center;
    width: 65%;
    gap: 20px;
}

.single-post-edit-delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

/*dette er for makepost og edit post*/

#add-post-form, #edit-post-form{
    width: 100%;
    max-width: 1000px;
    padding: 0 var(--inline-margin-big-desktop);
    box-sizing: border-box;
}

#add-post-form > input, #edit-post-form > input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: solid 1px var(--black);
    margin-bottom: 25px;
}

#add-post-form > textarea, #edit-post-form > textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: solid 1px var(--black);
    margin-bottom: 25px;
    resize: none;
}

#add-post-form > input:focus, #edit-post-form > input:focus, #add-post-form > textarea:focus, #edit-post-form > textarea:focus{
    outline: none;
}

#add-post-form > label, #edit-post-form > label{
    align-self: flex-start;
    margin: 0 0 10px 25px;
}

/*dette er for posts siden*/







/*media for mobil*/

@media only screen and (max-width: 580px){
    header{
        padding: 0 var(--inline-margin-phone) !important;
    }

    /*dette er for makepost og editpost*/
    #add-post-form, #edit-post-form{
        padding: 0 var(--inline-margin-phone) !important;
    }

    .single-post-overview{
        margin: 0 var(--inline-margin-phone) !important;
    }
}


/*media for tablet og ned*/

@media only screen and (max-width: 768px) {

    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 30px;
    }
    
    p, label{
        font-size: 18px;
    }

/*for hamburger menyen*/
    .nav-menu {
        z-index: 98;
        position: fixed;
        left: -120%;
        top: 85px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 50px;
        background-color: var(--white);
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }

    .nav-menu li{
        margin: 10px;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /*Dette er for mypage*/
    .single-post-overview{
        flex-direction: column;
        gap: 20px;
        width: auto;
    }

    .single-post-img-text{
        width: 100%;
        gap: 50px;
    }
    
    .single-post-edit-delete{
        justify-content: space-around;
        width: 100%;
    }

    
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 var(--inline-margin-tablet-desktop);
    }

    /*dette er for makepost og editpost*/
    #add-post-form, #edit-post-form{
        padding: 0 var(--inline-margin-tablet-desktop);
    }

    .single-post-overview{
        margin: 0 var(--inline-margin-tablet-desktop);
    }
}
